header {
    background-color: black;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: orange;
}


p {
    display: none
}

nav {
    list-style: none;
    text-decoration: none;
}

ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
    font-family: 'Silkscreen', cursive;
    justify-content: flex-end;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
}
article {
    gap: 0;
}

div {
    border: 2px ridge darkgray;
    padding: 20px;
}

.h1 {
    font-size: 27px;
    font-style: none;
}

.h2 {
    font-style: italic;
}

img {
    margin-block: 16px;
    width: 300px;
    height: auto;
}



footer {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: brown;
    color: white;
    height: 2.5em;
    width: 100%;
    font-size: 1em;
    box-sizing: border-box;
    padding: 4rem;
    margin-top: 50%;
    bottom: 0;
    
}

.ul {
    display: flex;
   
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap : 0.8em;
    margin-block-start: 1em; 
    text-align: center;
    list-style: none;
    text-decoration: none;
}

.li a {
    list-style: none;
    text-decoration: none;
    color: white;
    
}

a:hover {
    color: grey;
}





@media screen and (min-width: 600px){
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        margin: auto;
        justify-content: center;
        background-image: url(assets/istockphoto-887280896-1024x1024.jpg);
        background-position: center;
        text-align: center;

    }

    h1, p {
        color: white;
        font-family: 'Silkscreen', cursive;
    }

    h1{
    padding-top: 10px;
    }


    p {
        display: flex;
        align-items: center;
        margin: auto;
        font-weight: bold;
        font-size: 1.3em;
    }


    
    li a{
        color: orange;
        list-style: none;
        text-decoration: none;
        font-size: 35px;
        text-shadow: black 1px 1px;
    }
    
    
    a:hover {
        color: red;
        
    }

   
    ul {
        flex-direction: column;
        align-items: center;
        gap: 0px;
        font-size: 10px;
       
    }

    li a {
        font-size: 30px;
        color: black;
        text-shadow: orange 1px 1px; 
        
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
        margin:0;
    }

} 

*{
    box-sizing: border-box;
}

body{
    background-image: url(assets/istockphoto-887280896-1024x1024.jpg);
    background-repeat: no-repeat;

    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;

    }

h1 {
    text-align: center;


}


input, select {
    font-size: large;
}

.rapMessage{
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

.error{
    background-color: rgb(245, 197, 197);
    color: rgb(241, 2, 2);
    text-align: center;
    width: 50%;
list-style: none;
margin: auto;

padding-block: 24px;}

.titleAndForm{
    background-color: white;
    opacity: 0.8;
    width: 60%;
    margin: auto;

    padding-block: 8px;
    padding-bottom: 16px;
    border-radius: 4px;
}

form{
 
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

label{
    margin-top: 8px;
}

    

button{
    padding-inline: 8px;
    padding-block: 4px;
    background-color: rgb(39, 39, 163);
    color:rgb(224, 236, 247);
    width: fit-content;
    border-radius: 4px;
    border: none;
    margin-top: 8px;
font-size: 1.5rem;

}

button:hover{
    filter: brightness(130%);
 
}

button:active{
    filter: brightness(80%);
}
